# Pattern Prg

In [211]:
n=3

In [9]:
for i in range(1,n+1):
    for j in range(1,n+1):
        print('*',end=' ')
    print() #by default empty print have /n next line
    
    
# * * *  #i=1,j=1,j=2,j=3
# * * *  #i=2,j=1,j=2,j=3
# * * *  #i=3,j=1,j=2,j=3

* * *
* * *
* * *

In [10]:
n=5

In [13]:
for i in range(1,n+1):
    for j in range(1,n+1-2):
        print('*',end=' ')
    print()
    
# * * *   second for loop n=5 (5-2) n=3 it print 3 star 5rows
# * * * 
# * * * 
# * * * 
# * * *

* * *
* * *
* * *
* * *
* * *

In [14]:
n=5

In [17]:
for i in range(1,n+1):
    for j in range(1,n+1):
        if i>j:
            print(' ',end=' ')
        elif i<j:
            print(' ',end=' ')
        if i==j:
            print('*' ,end=' ')
    print()

*
  *
    *
      *
        *

In [21]:
for i in range(1,n+1):
    for j in range(1,n+1):
        if i==j:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*
  *
    *
      *
        *

In [26]:
n=4
for i in range(1,n+1):
    for j in range(1,n+1):
        if i<j:
            print('$',end=' ')
        else:
            print(' ',end=' ')
    print()

  $ $ $
    $ $
      $

In [27]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if i==j:
            print('*',end=' ')
        elif i<j:
            print('$',end=' ')
        elif i>j:
            print('$',end=' ')
    print()

* $ $ $ $
$ * $ $ $
$ $ * $ $
$ $ $ * $
$ $ $ $ *

In [30]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if i==j:
            print('*',end=' ')
        elif i>j:
            print('$',end=' ')
        else:
            print(' ',end=' ')
    print()

*
$ *
$ $ *
$ $ $ *
$ $ $ $ *

In [35]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if i>=j:
            print('$',end=' ')
        else:
            print(' ',end=' ')
    print()
# primary dignal with lower triangle

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $

# secondary diagonal

In [54]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if i==j:
            print('*',end=' ')
        elif i<j:
            print('^',end=' ')
        else:
            print(' ',end=' ')
    print()

* ^ ^ ^ ^
  * ^ ^ ^
    * ^ ^
      * ^
        *

In [55]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if i+j==n+1:
            print('*',end=' ')
        elif i+j>n+1:
            print('^',end=' ')
        else:
            print(' ',end=' ')
    print()

        *
      * ^
    * ^ ^
  * ^ ^ ^
* ^ ^ ^ ^

In [56]:
for i in range(1,n+1):
    for j in range(1,n+1):
        if i+j==n+1:
            print('$',end=' ')
        elif i+j<n+1:
             print('$',end=' ')
        elif i+j>n+1:
            print('^',end=' ')
    print()

$ $ $ $ $
$ $ $ $ ^
$ $ $ ^ ^
$ $ ^ ^ ^
$ ^ ^ ^ ^

In [60]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if i==1 or i==n:       #first and last line
            print('*',end=' ')
        elif j==1 or j==n:
            print('*',end=' ')  #bost 2 side
        else:
            print(' ',end=' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [63]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if i==j:
            print('*',end=' ')
        elif i+j==n+1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*       *
  *   *
    *
  *   *
*       *

In [81]:
n=9
for i in range(1,n+1):
    for j in range(1,n+1):
        if j==n//2+1:
            print('*',end=' ')
        elif i==n//2+1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

        *
        *
        *
        *
* * * * * * * * *
        *
        *
        *
        *

In [93]:
n=5
for i in range(1,n+1):
    for j in range (1,n+1):
        if j==n//2+1 or i==n//2+1:
            print('*',end=' ')
        elif i==1 or i==n or j==1 or j==n:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
*   *   *
* * * * *
*   *   *
* * * * *

In [96]:
n=11
for i in range(1,n+1):
    for j in range(1,n+1):
        if j==i or j+i==n+1 or i==1 or i==n or j==1 or j==n:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * * * * * * * *
* *               * *
*   *           *   *
*     *       *     *
*       *   *       *
*         *         *
*       *   *       *
*     *       *     *
*   *           *   *
* *               * *
* * * * * * * * * * *

In [98]:
n=15
for i in range(1,n+1):
    for j in range(1,n+1):
        if j==i or j+i==n+1 or i==1 or i==n or j==1 or j==n or j==n//2+1 or i==n//2+1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * * * * * * * * * * * *
* *           *           * *
*   *         *         *   *
*     *       *       *     *
*       *     *     *       *
*         *   *   *         *
*           * * *           *
* * * * * * * * * * * * * * *
*           * * *           *
*         *   *   *         *
*       *     *     *       *
*     *       *       *     *
*   *         *         *   *
* *           *           * *
* * * * * * * * * * * * * * *

In [151]:
row=6
col=11
for i in range(1,row+1):
    for j in range(1,col+1):
        if i+j==row+1 or j-i==row-1:
             print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

          *
        *   *
      *       *
    *           *
  *               *
*                   *

In [153]:
row=6
col=11
for i in range(1,row+1):
    for j in range(1,col+1):
        if i+j==row+1 or j-i==row-1 or i==j or i+j==col+1:
             print('.',end=' ')
        else:
            print(' ',end=' ')
    print()

.         .         .
  .     .   .     .
    . .       . .
    . .       . .
  .     .   .     .
.         .         .

In [164]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if i>=j:
            print(j,end=' ')
        else:
            print(' ',end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [167]:
n=6
for i in range(1,n+1):
    c=65
    for j in range(1,n+1):
        if i>=j:
            print(chr(c),end=' ')
            c+=1
        else:
            print(' ',end=' ')
    print()

A
A B
A B C
A B C D
A B C D E
A B C D E F

In [183]:
n=5
for i in range(1,n+1):
    for j in range(i,i+n):
        print(j,end=' ')
    print()

1 2 3 4 5
2 3 4 5 6
3 4 5 6 7
4 5 6 7 8
5 6 7 8 9

In [210]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if i<=j:
            print(j,end=' ')
        else:
            print(' ',end=' ')
    print()

1 2 3 4 5
  2 3 4 5
    3 4 5
      4 5
        5

In [198]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if i%2==0:
            print(j**2,end=' ')
        else:
            print(j,end=' ')
    print()

1 2 3 4 5
1 4 9 16 25
1 2 3 4 5
1 4 9 16 25
1 2 3 4 5

In [203]:
n=5
for i in range(1,n+1):
    k=1
    for j in range(1,n+1):
        if i<=j:
            if i%2==0:
                print(k**2,end=' ')
                k+=1
            else:
                print(k,end=' ')
                k+=1
        else:
            print(' ',end=' ')
    print()

1 2 3 4 5
  1 4 9 16
    1 2 3
      1 4
        1

In [209]:
n=5
for i in range(1,n+1):
    k=1
    c=65
    for j in range(1,n+1):
        if i>=j:
            if i%2==0:
                print(k,end=' ')
                k+=1
            else:
                print(chr(c),end=' ')
                c+=1
        else:
            print(' ',end=' ')
    print()

A
1 2
A B C
1 2 3 4
A B C D E

In [46]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if j==1 or (i==1 and j<n) or (i==n//2+1 and j<n) or (j==n and 1<i<n//2+1):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * *
*       *
* * * *
*
*

In [73]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if (j==n//2+1 and i>=n//2+1) or (i==j and i<n//2+1) or (i+j==n+1 and i < n//2+1):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*       *
  *   *
    *
    *
    *

In [137]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if i==1 or j==n//2+1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
    *
    *
    *
    *

In [138]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if j==1 or i==n//2+1 or j==n:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*       *
*       *
* * * * *
*       *
*       *

In [120]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if (j==1 and 1<i<n) or (j==n and 1<i<n) or (i==n and 1<j<n) or (i==1 and 1<j<n) :
             print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

  * * *
*       *
*       *
*       *
  * * *

In [123]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if j==1 or i==j or j==n:
              print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*       *
* *     *
*   *   *
*     * *
*       *

In [135]:
n=7
for i in range(1,n+1):
    for j in range(1,n+1):
        if j==1 or (i==1 and j<n) or (i==n//2+1 and j<n) or (j==n and 1<i<n//2+1):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    for  j in range(1,n+1):
        if (j==n//2+1 and i>=n//2+1) or (i==j and i<n//2+1) or (i+j==n+1 and i < n//2+1):
            print('*',end=' ')
        else:
            print(' ',end=' ') 
    for j in range(1,n+1):
        if i==1 or j==3:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    for j in range(1,n+1):
        if j==1 or i==3 or j==5:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    for j in range(1,n+1):
        if (j==1 and 1<i<n) or (j==n and 1<i<n) or (i==n and 1<j<n) or (i==1 and 1<j<n) :
             print('*',end=' ')
        else:
            print(' ',end=' ')
    for j in range(1,n+1):
        if j==1 or i==j or j==n:
              print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * * *   *           * * * * * * * * *       *       * * * * *   *           *
*           *   *       *       *         *       *     *           * * *         *
*           *     *   *         *         * * * * * * * *           * *   *       *
* * * * * *         *           *         *       *     *           * *     *     *
*                   *           *         *       *     *           * *       *   *
*                   *           *         *       *     *           * *         * *
*                   *           *         *       *       * * * * *   *           *

In [98]:
n=7
for i in range(1,n+1):
    for j in range(1,n+1):
        if (j==1 and i>1) or (i==1 and 1<j<n) or (j==n and i>1) or (i==n//2+1 and 1<j<n):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

  * * * * *
*           *
*           *
* * * * * * *
*           *
*           *
*           *

In [96]:
n=7
for i in range(1,n+1):
    for j in range(1,n+1):
        if j==1 or (i==1 and j<n) or (i==n and j<n) or (j==n and 1<i<n and i!=n//2+1) or (i==n//2+1 and j<n):
                 print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * * *
*           *
*           *
* * * * * *
*           *
*           *
* * * * * *

In [95]:
n=7
for i in range(1,n+1):
    for j in range(1,n+1):
        if (i==1 and 1<j<n) or (i==n and 1<j<n) or j==1 and 1<i<n:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

  * * * * *
*
*
*
*
*
  * * * * *

In [94]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if (i==1 and j<n) or (j==n and 1<i<n) or (j==1 and 1<i<n) or (i==n and j<n):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * *
*       *
*       *
*       *
* * * *

In [67]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if j==1 or i==1 or i==n//2+1 and j<n or i==n:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
*
* * * *
*
* * * * *

In [69]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if j==1 or i==1 or i==n//2+1 and j<n:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
*
* * * *
*
*

In [102]:
n=7
for i in range(1,n+1):
    for j in range(1,n+1):
        if (i==1 and 1<j<n) or (j==1 and 1<i<n) or (i==n and 1<j<n) or (j==n and n//2<i<n) or (i==n//2+1 and n//2<j<n): 
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

  * * * * *
*
*
*     * * * *
*           *
*           *
  * * * * *

In [103]:
n=7
for i in range(1,n+1):
    for j in range(1,n+1):
        if j==1 or j==n or i==n//2+1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*           *
*           *
*           *
* * * * * * *
*           *
*           *
*           *

In [111]:
n=7
for i in range(1,n+1):
    for j in range(1,n+1):
        if i==1 or (j==n//2+1 and 1<i<n) or i==n:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * * * *
      *
      *
      *
      *
      *
* * * * * * *

In [123]:
n=7
for i in range(1,n+1):
    for j in range(1,n+1):
        if i==1 or (j==n//2+1 and 1<i<n) or (i==n and 1<j<n//2+1<n) or j==1 and n//2+1<i<n:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * * * *
      *
      *
      *
*     *
*     *
  * *

In [148]:
n=7
for i in range(1,n+1):
    for j in range(1,n+1):
        if j==1 or (n//2+1==i and j<=n//2+1) or (i+j==n+1 and i<n//2+1) or (i==j and i>n//2+1):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*           *
*         *
*       *
* * * *
*       *
*         *
*           *

In [151]:
n=7
for i in range(1,n+1):
    for j in range(1,n+1):
        if j==1 or i==n and j<n:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*
*
*
*
*
*
* * * * * *

In [169]:
n=7
for i in range(1,n+1):
    for j in range(1,n+1):
        if j==1 and i<n or (i==j and j<n-2) or (i+j==n+1 and i<n//2+1) or j==n and i<n:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*           *
* *       * *
*   *   *   *
*     *     *
*           *
*           *

In [178]:
n=7
for i in range(1,n+1):
    for j in range(1,n+1):
        if j==1 or (i==j and j<=n) or j==n:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*           *
* *         *
*   *       *
*     *     *
*       *   *
*         * *
*           *

In [179]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if (j==1 and 1<i<n) or (j==n and 1<i<n) or (i==n and 1<j<n) or (i==1 and 1<j<n) :
             print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

  * * *
*       *
*       *
*       *
  * * *

In [180]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if j==1 or (i==1 and j<n) or (i==n//2+1 and j<n) or (j==n and 1<i<n//2+1):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * *
*       *
* * * *
*
*

In [191]:
n=7
for i in range(1,n+1):
    for j in range(1,n+1):
        if (j==1 and 1<i<n) or (j==n and 1<i<n) or (i==n and 1<j<n ) or (i==1 and 1<j<n) or (i==j and i>n//2+1):
             print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

  * * * * *
*           *
*           *
*           *
*       *   *
*         * *
  * * * * * *

In [194]:
n=7
for i in range(1,n+1):
    for j in range(1,n+1):
        if j==1 or (i==1 and j<n) or (i==n//2+1 and j<n) or (j==n and 1<i<n//2+1) or (i==j and i>n//2+1):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * * *
*           *
*           *
* * * * * *
*       *
*         *
*           *

In [235]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if i==1 and 1<j<n+1  or j==1 and 1<i<n-2 or i==n//2+1 and 1<j<n or j==n and n//2+1<i<n or  i==n and j<n:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

  * * * *
*
  * * *
        *
* * * *

# oops prg

In [69]:
class flipkart:
    def __init__(self,product,price,qt):
        self.product=product
        self.price=price
        self.qt=qt 
    def display(self):
        print(self.__dict__)
class buy(flipkart):
    def __init__(self,name,address,phno,landmark,product,price,qt):
        super().__init__(product,price,qt) 
        self.product=product
        self.name=name
        self.address=address
        self.phno=phno
        self.landmark=landmark
    def display(self):
        super().display()

In [70]:
a=buy('ash','9183','9863428','821937','iphone','1234',1)
a.display()

{'product': 'iphone', 'price': '1234', 'qt': 1, 'name': 'ash', 'address': '9183', 'phno': '9863428', 'landmark': '821937'}

# property dec

In [ ]:
# wap to access private meb in class

In [123]:
class pri:
    def __init__(self,a,b):
        self.__a=a
        self.b=b
    @property
    def a(self):
        return self.__a
    @a.setter
    def a(self,new):
        self.__a=new

In [124]:
obj=pri(10,20)

In [125]:
obj.a

10

In [126]:
obj.a=100

In [127]:
obj.a

100

In [129]:
class sam:
    def __init__(self,c,d):
        self.c=c
        self.d=d
    def up(self,new):
        self.c=new
    def acc(self):
        print(self.__dict__)
ob=sam(10,20)

In [130]:
ob.up(100)

In [136]:
ob.acc()

{'c': 100, 'd': 20}

In [184]:
# create a range function in class
class ran:
    def __init__(self,sv,ev,up=1):
        self.sv=sv
        self.ev=ev
        self.up=up
    def __iter__(self):
        return self
    def __next__(self):
        if self.sv>=self.ev:
            raise StopIteration
        res=self.sv
        self.sv+=self.up
        return res

In [185]:
ob=ran(1,10)

In [186]:
ob.__iter__()
print(ob.__next__())
print(ob.__next__())
print(ob.__next__())
print(ob.__next__())
print(ob.__next__())
print(ob.__next__())
print(ob.__next__())
print(ob.__next__())
print(ob.__next__())
print(ob.__next__())

1
2
3
4
5
6
7
8
9

StopIteration:

In [203]:
# create fib series
# 0 1 1 2 3 5
class fib:
    def __init__(self,n):
        self.n=n
        self.n1=0
        self.n2=1
    def __iter__(self):
        return self
    def __next__(self):
        if self.n1>self.n:
            raise StopIteration
        res=self.n1
        s=self.n1+self.n2
        self.n1,self.n2=self.n2,s
        return res
obj=fib(20)
print(list(obj))

[0, 1, 1, 2, 3, 5, 8, 13]

In [1]:
# write a data into CSV File

In [54]:
import csv
open('file.csv','w')
b=csv.writer(a)
class emp:
    def __init__(self,ename,empno,role):
        self.ename=ename
        self.empno=empno
        self.role=role
        b.writerow([ename,empno,role])
    def display(self):
        print(self.__dict__)

In [56]:
oa=emp('ashraff','1234','DA')
oa.display()
a.close()

{'ename': 'ashraff', 'empno': '1234', 'role': 'DA'}

In [ ]:
# WAP sql conn using oops

In [43]:
import sqlite3
a=sqlite3.connect('data3.db')
b=a.cursor()
b.execute('create table py(sname varchar,sid number)')

In [44]:
class sam:
    def __init__(self,sname,sid):
        self.sname=sname
        self.sid=sid
        b.execute(f"insert into py values ('{sname}','{sid}')")

In [45]:
s1=sam('dinga',100)
s2=sam('dingi',420)
res=b.execute('select * from py')
print(list(res))

[('dinga', 100), ('dingi', 420)]

In [57]:
# wap to extract the word the given data only if the word is having len 4 using rg in oops

In [79]:
import re
class sam:
    def __init__(self,data):
        self.data=data
    def mod(self):
        p=re.findall(r'\b\w{4}\b',self.data)   #\b is boundry it will consider first and last 4 char
        return p

In [78]:
ob=sam('this is dinga from pyspi')
ob.mod()

['this', 'from']

In [84]:
# wap to check given mail id and pattern matched or not using oops and RE
import re
class oops:
    def __init__(self,mail):
        self.mail=mail
    def mod(self):
        pat='\w+\@[a-z]{5}\.[a-z]{3}'
        if re.match(pat,self.mail):
            return True
        return False
ob=oops('mohamedashraff103@gmail.com')
if ob.mod()==True:
    print('it Matched')
else:
    print('Not Matched')

it Matched

In [ ]:
# wap to convert to lower case char from upper case chr usinng oops and dec

In [101]:
@outer
def fname(a):
    c=0
    for i in a:
        if 'a'<=i<='z' or 'A'<=i<='Z':
            c+=1
    if len(a)==c:
        return a.upper()   
fname('ashraff')

'ASHRAFF'

In [110]:
def outer(func):
    def inner(*args,**kwargs):
        res=func(*args,*kwargs)
        return res.upper()
    return inner

In [111]:
class dec:
    def __init__(self,name):
        self.name=name
    @outer
    def upper(self):
        return self.name

In [113]:
ob=dec('AShraff')
ob.upper()

'ASHRAFF'

In [144]:
class app:
    l=[]
    def __init__(self,name,rating,yop,per,stream):
        self.name=name
        self.rating=rating
        self.yop=yop
        self.per=per
        self.stream=stream
        app.l.append(self)
    def matched(self):
        if len(app.l)<=3:
            if (2020<=self.yop<=2024) and self.per>=70 and (self.stream=='ME' or self.stream=='any' or self.stream=='cs'):
                print ('Congrats 😁 You Are Added To Req /n When You give the Treat ')
            else:
                print('vaipilla Raja')
        else:
            print('slot not available try again ltr')

In [129]:
mohan=app('mohan','**',2021,99.99,'cs')
mohan.matched()

Congrats 😁 You Are Added To Req /n When You give the Treat

In [145]:
Ash=app('Ashraff','*',2022,90,'cs')
Ash.matched()

Congrats 😁 You Are Added To Req /n When You give the Treat

In [140]:
Aravind=app('aravind','***',2020,99.9999,'cs')
Aravind.matched()

Congrats 😁 You Are Added To Req /n When You give the Treat

In [143]:
chan=app('chan','**',2022,99,'cs')
chan.matched()

slot not ava try again ltr